.text-borahae {
    color: #aa8ed6;
}

.bg-borahae {
    background-color: #aa8ed6;
}

.text-dark-borahae {
    color: #5d5491;
}

.bg-dark-borahae {
    background-color: #5d5491;
}

.text-stay-gold {
    color: #dd9d4c;
}

.bg-stay-gold {
    background-color: #dd9d4c;
}

.bg-my-grey {
    background-color: #545454;
}