@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Darker+Grotesque:wght@900&display=swap');

a:hover {
    opacity: 0.7;
}

/*---------NAVBAR SECTION---------*/

#sidenavbar {
    height: 100vh;
    padding: 3rem 4rem;
}

#nav-dropdown {
    padding-left: 2rem;
}

.dropdown-hide {
    display: none;
}


/*---------LANDING SECTION---------*/

#landing {
    height:100vh;
    background-repeat:no-repeat;
    background-size: cover;
}

#landing h1 {
    font-family:'PT Serif';
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    line-height:1.08;
}

#landing a {
    background: #dd9d4c;
    font-family: 'Poppins';
}

#landing div {
    padding-bottom: 8rem;
}

